@import '/src/scss/theme.scss';

header {
    flex: 0 0 104px;
    width: 100%;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;

    .header-inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        max-width: 1440px;
        margin: auto;

        .dbvisit-logo {
            width: 120px;

            @media (max-width: (1400px)) {
                width: 100px;
            }
        }

    }

    @media (max-width: (1400px)) {
        flex: 0 0 80px;
    }
}